FlipCaseService/ConsoleApplicationClient/Service References/ServiceReferenceFlipCase/FlipCaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlipCaseService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlipCaseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StringData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlippedCaseString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringData" nillable="true" type="tns:StringData" />
</xs:schema>